extends layout

block content
    app(v-ref:app)
    script(src='/static/build.js')
    //script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDGyCvIEFSzj8zhpsXCYxEPgW6D_PY23OA&callback=test', async, defer)
